@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bgButton: rgb(243, 122, 49);
  scroll-behavior: smooth;
}
.archivo{
  font-family: "Archivo", sans-serif;
}
.center{
  text-align: center;
}
a{
  text-decoration: none;
  color: white;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}